@charset "UTF-8";

/* Configuração global */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    /* text-align: center; */

}

html {
    background-image: linear-gradient(45deg, #3f0224, #300565, #237da3);
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
}

/* Cabeçalho */
header {
    height: 20vh;
    display: grid;
    align-items: center;
    margin-bottom: 20px;
}

/* Navegação */
nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 160px;
    
   
    margin-bottom: 15px;

}

/* Link (botão Voltar) */
a { 
    text-align: center;
    display: block;
    margin-left: 30px;
    margin-top: 30px;
    box-sizing: border-box;
    border: 2px solid rgba(110, 174, 238, 0.779);
    width: 70px;
   
    color: #d6f5ff;

    text-decoration: none;
    font-size: 14px;

    border-radius: 30px;
    padding: 16px;  
    
    transition-duration: 0.5s;
}

/* Pseudoclasse do botão Voltar */
a:hover {
    background-color: #b6dcfc;
    box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.242);
    color: #114157;

    transition-duration: 0.5s;
}

/* Título */
h1 {
    font-size: 26px;
    text-align: center;
    color: #e4deff;
}

/* Configuração do formulário */
form {
    background-color: white;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.386);
    border-radius: 9px;
    padding-bottom: 20px;
    
    margin: auto;

    width: 80vw;
      
    text-align: center;  
}

/* Configuração dos inputs */
input {
    border-color: rgba(0, 0, 0, 0.514);
    border-radius: 0px;
    border-width: 0 0 0.3px 0;
    height: 22px;  
    width: 100%; 
    margin-top: 5px;
    
}

/* Configuração do label ("nome" do input) */
label {
    font-size: 14px;
    margin-bottom: 50px;
}

/* Indentação dos inputs de texto e email */
input[type=text], [type=email] {
    text-indent: 6px;  
}

/* Configuração da parte superior do formulário */
section {
    padding: 20px;
    box-shadow: inset 0px -3px 5px 0px rgba(0, 0, 0, 0.211);
}

/* Parágrafo */
p {
    padding: 10px;  
}

/* Configuração das caixas div dentro do formulário */
form div {
    width: 80%;
    height: 70px;  
    margin: auto;
    margin-bottom: 15px;
    text-align: start;
    padding: 20px;
  
}

/* Configuração da caixa div que contém o formulário */
.div-externa{
    height: 400px;
}

/* Configuração da caixa do botão Enviar */
.box-btn {
    margin: 50px; 
}

/* Configuração do botão Enviar */
.button { 
    background-color: rgb(234, 216, 255);
    color: #682faa;
    margin-top: 20px;
    border-radius: 14px;
    width: 55px;
    height: 35px;
    font-size: 15px;
    border-width: 0px;
    transition-duration: 0.5s;

}

/* Pseudoclasse do botão Enviar */
.button:hover {
    background-color: rgb(166, 119, 219);
    color: #f3e7ff;
    
    transform: scale(105%);

    transition-duration: 0.5s;
}


/* Media query para telas grandes */
@media screen and (min-width: 700px) {

    header {
        height: 20vh;
        display: grid;
        align-items: center;
        margin-bottom: 50px;
    }

    nav {
        margin-bottom: 0px;
    }

    h1 {
        font-size: 30px;
    }

    form {
        width: 500px;
    
    }

    form div {
        width: 70%;
        height: auto;
        
        margin: auto;
        text-align: right;
        padding: 20px;
    }

    a {
        margin-top: 20px;
        margin-left: 40px;
        width: 85px;
        font-size: 19px;
    }

    input {
    border-radius: 12px;
    border-width: 0.3px;
    height: 35px;  
    width: 70%; 
    
    }


}

