@charset "UTF-8";

/* Configurações globais */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

/* Variáveis para guardar a paleta de cores */
:root {
    --roxo: #3d2279;
    --azul: #0b3384;
    --murrey: #881B4C;
    --magnolia: #f3dcff;
}

body {
    background-repeat: no-repeat;
}

/* Cabeçalho */
header {
    padding-top: 90px;

    /* Degradê de fundo */
    background: linear-gradient(45deg, #1a0450, #3f0c6e, #6f0689);
    height: 97.2vh;

    color: var(--magnolia);
}

/* Navegação (caixa para links) */
nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 160px;
    margin: auto;
    margin-top: 40px;
}

/* Configuração dos links (sobre mim, formação, projetos, fale comigo) */
a { 
    margin-top: 20px;
    box-sizing: border-box;
    border: 2px solid #dea0ffc3;
    color: var(--magnolia);

    text-decoration: none;
    font-size: 20px;

    border-radius: 30px;
    padding: 16px;  
    
    transition-duration: 0.5s;
}

/* Link com pseudoclasse (passar o mouse em cima) */
a:hover {
    background-color: #f3dcff;
    box-shadow: -3px 5px 3px rgba(0, 0, 0, 0.242);
    color: #3f0c6e;

    transition-duration: 0.5s;
}

/* Rodapé do site */
footer {
    padding: 2px;
    font-size: 14px;
    background-color: black;
    color: white;
    height: 2.8vh;
}